@tailwind base;
@tailwind components;
@tailwind utilities;

  
[data-theme="black"] {
    background-color: black;
    color: white;
  }
 
  [data-theme="wireframe"]{
    background-color: #eff8fb;
    color: #040f12;
  }